@{
    ViewBag.Title = "Teste Fw Distribuidora";
}

<div class="panel panel-default ">
    <div class="panel-body">
        Basic panel example
    </div>
</div>
<div class="page-header">
   
</div>

<div class="jumbotron">
    <p class="lead">Leia-me Por Favor   </p>
    <hr class="my-4">
    <p>Tive que criar um localDb de nome ESTAPAR</p>
    <p class="lead">
        Para criar uma instância de localDB use o comando no CMD = sqllocaldb.exe create "ESTAPAR"
    </p>
    <p class="lead">
        Fiz uma alteração no banco, para o atributo Id ser identity, assim evitando controlar ids no código.
    </p>
    <hr class="my-4">
    <p>Foi adicionado o plugin <spam style="color:darkred">datatable.net</spam> para deixar o grid mais flexível, com opção de ordenação e paginação, entre outras funcionalidades. </p>
    <p>Gosto de trabalhar com <spam style="color:darkred">datatable.net</spam>, na Unimed Campinas eu implatei este plugin de forma que virou padrão nos projetos da empresa.</p>
    <p>Uso o  <spam style="color:darkred">JQUERY</spam> para manipular a API deste plugin, me considero nível avançado em  <spam style="color:darkred">JQUERY/JavaScript</spam>.</p>
    <hr class="my-4">
    <p>Foi adicionado alguns atributos de <spam style="color:blue">DataAnnotations</spam> para automatizar a validação do formulário, assim ganhando tempo, mas geralmente uso o jquery.validator. </p>
    <hr class="my-4">
    <p>Para criação das páginas <spam style="color:darkred">Criar</spam> e <spam style="color:darkred">Editar</spam> eu utilizei o recurso de <spam style="color:blue">scaffolding template</spam>, apenas para acelerar o processo, geralmente uso HTML puro, pois acelera a renderização da página. </p>
    <hr class="my-4">
    <p>
        Eu quis demonstra meu uso do <spam style="color:forestgreen">Bootstrap</spam> abrindo um modal de confirmação de exclusão, este modal dispara um post via <spam style="color:darkred">JQUERY</spam> para o método de exclusão no controller.
    </p>
    <hr class="my-4">
    <p style="float:right"> Obrigado </p>

</div>

<div class="jumbotron">
    
</div>
